<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title><%=title%></title>
	<link rel="icon" href="/static/img/favcoin.ico" size="16x16 32x32">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/home.css">
	<script type="text/javascript" charset="utf-8" src="/static/js/libs/seajs/sea.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/sea_config.js"></script>
</head>

<body>
	<% include rside.ejs %>
	<div class="wrapper">
		<div id="top-tips" class="top-tips" style="display: none;">
			<a class="j-top-tips-close top-tips-close" href="javascript:;"><i class="icon i-top-tips-close"></i></a>
			<div class="j-top-tips-content top-tips-content" data-id=""></div>
		</div>
		<% include header.ejs %>
		<div class="page-wrap">
			<div class="inner-wrap">
				<div class="inner-bg">
					<div class="rest-banner">
						<div class="tab clearfix">
							<a href="/home/<%=id%>" class="fl rest-tab active">餐厅</a>
						</div>
					</div>
					<div class="store-status clearfix">
						<i class="icon i-more-poi fl"></i>
						<span>营业中</span>
					</div>
					<div class="rest-list online-rests">
						<div class="list clearfix">
							<textarea class="j-restlistdata" style="display: none;"><%=data%></textarea>
							<ul class="j-restlist">
								<% for (var i=0; i<restaurants.length; i++) { 
									var r = restaurants[i];	%>
									<li class="fl j-restaurant" data-index="<%=i%>">
										<div class="restaurant">
											<a class="rest-atag" href="/restaurant/<%=r.token%>" target="_blank">
												<div class="top-content">
													<div class="preview fl">
														<img class="scroll-loading" src="<%=r.img_url%>">
													</div>
													<div class="content">
														<div class="name">
															<span title="<%=r.name%>"><%=r.name%></span>
														</div>
														<div class="tags">
															<span title="<%=r.type%>"><%=r.type%></span>
														</div>
														<div class="price">
															<span class="start-price"><%=r.muslim%></span>
															<span class="send-price">
																免费点餐
															</span>
														</div>
													</div>
													<div class="clear"></div>
												</div>
												<div class="others">
													<div class="discount fr">
														<i class="icon i-free-gift fl"></i>
														<i class="icon i-first fl"></i>
														<i class="icon i-minus fl"></i>
														<i class="icon i-reimbursement fl"></i>
													</div>
													<span class="send-time ct-middlegrey">最佳订餐时间：用餐前30分钟</span>
												</div>
											</a>
										</div>
									</li>
								<% } %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include footer.ejs %>
	</div>

	<script type="text/javascript">
		seajs.use('main');
		seajs.use('apps/home/home');
	</script>
</body>
</html>
