<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title><%=title%></title>
	<link rel="icon" href="/static/img/favcoin.ico" size="16x16 32x32">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/restaurant.css">
	<script type="text/javascript" charset="utf-8" src="/static/js/libs/seajs/sea.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/sea_config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">window.FQUSER = "<%=fquser%>";</script>
</head>

<body>
	<% include rside.ejs %>
	<div class="wrapper">
		<div id="top-tips" class="top-tips" style="display: none;">
			<a class="j-top-tips-close top-tips-close" href="javascript:;"><i class="icon i-top-tips-close"></i></a>
			<div class="j-top-tips-content top-tips-content" data-id=""></div>
		</div>
		<!-- page-header -->
		<% include header.ejs %>
		<!-- shopping-cart -->
		<div class="shopping-cart clearfix j-shopping-cart" style="width: 340px;">
			<form method="post" action="/order/preview/<%=token%>" id="shoppingCartForm">
				<div class="order-list j-order-list" style="top: 0;width: 340px;">
					<div class="title">
						<span class="fl dishes" style="width:120px;">菜品
						<%if(is_admin){%>
						<a href="javascript:;" class="clear-cart j-clearcart">[清空]</a>
						<%}%>
						</span>
						<span class="fl" style="margin-left: 10px;">点餐人</span>
						<span class="fl" style="margin-left: 50px;">份数</span>
						<span class="fr ti-price">价格</span>
					</div>
					<script type="text/template" id="cartfood-template">
						<div class="fl na" title="{{name}}" style="width:120px;">{{name}}</div>
						<div class="fl na" title="{{orderp}}" style="width:90px;">{{orderp}}</div>
						<div class="fl modify clearfix">
							<a href="javascript:;" class="fl minus j-minus">-</a> 
							<input type="text" class="fl txt-count j-txt-count" value="{{cart}}" readonly />
							<a href="javascript:;" class="fl plus j-plus">+</a> 
						</div>
						<div class="fl pri">
							<span>¥{{price}}</span>
						</div>
					</script>
					<ul class="j-cartul" style="height: auto; overflow: visible; max-height: 600px; overflow-y: auto;">
						<!-- li from cookies -->
					</ul>
					<div class="total">共
						<span class="totalnumber j-totalnumber">0</span>份，总计
						<span class="bill j-bill">¥0</span>
					</div>
				</div>

				<div class="footer clearfix j-shopping-cart-footer" title="点击查看/隐藏菜单详情" onselectstart="return false;">
					<div class="logo fl"><i class="icon i-shopping-cart"></i></div>
					<div class="brief-order fl j-brief-order">
						<span class="count">1份</span>
						<span class="price">¥10</span>
					</div>
					<div class="fr">
						<a class="ready-pay borderradius-2 j-readypay" href="javascript:;">详单</a>
						<input class="go-pay borderradius-2 j-gopay" type="submit" style="display: none;" value="详单" />
					</div>
				</div>
			</form>
		</div>
		<!-- page-wrap -->
		<div class="page-wrap">
			<div class="inner-wrap j-inner-wrap">
				<div class="rest-info">
					<div class="right-bar fr clearfix hidden">
						<div class="fl search-label">搜索菜品：</div>
						<div class="fl search-food">
							<input type="text" placeholder="搜索菜品..." class="search-input sprite j-search-input" />
						</div>
					</div>
					<div class="details j-details">
						<div class="up-wrap">
							<div class="avatar fl">
								<img src="<%=restinfo.img_url%>" width="75" height="75">
							</div>
							<div class="list">
								<div class="na">
									<a href="/restaurant/<%=restinfo.id%>">
										<span><%=restinfo.name%></span><i class="icon i-triangle-dn"></i>
									</a>
								</div>
								<div class="clearfix">
									<div class="stars clearfix">
										<i class="icon i-star"></i>
										<i class="icon i-star"></i>
										<i class="icon i-star"></i>
										<i class="icon i-star-empty"></i>
										<i class="icon i-star-empty"></i>
										<span class="fl mark ct-middlegrey">3.9</span>
										<br>
									</div>
									<div class="rest-info-thirdpart">
										<span>0元起送&nbsp;免费配送&nbsp;由餐厅配送</span>
									</div>
								</div>
							</div>
						</div>
						<div class="rest-info-down-wrap">
							<div class="location">
								<span>餐厅地址：</span><%=restinfo.address%>
							</div>
							<div class="delivery-time">
								<span>营业时间：</span><%=restinfo.time%>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-link clearfix">
					<a href="/restaurant/<%=id%>" class="tab-item active">菜单</a>
				</div>

				<textarea class="j-food-data" style="display: none;"><%=data%></textarea>
				<textarea class="j-cart-data" style="display: none;"><%=cart%></textarea>

				<!-- food-list -->
				<div class="food-list fl j-food-list">
					<!-- ori-foodtype-nav -->
					<div class="ori-foodtype-nav clearfix">
						<span class="fl title ct-middlegrey">菜品分类：</span>
						<ul>
						<%for (var i=0; i<food.length; i++) {
							var r = food[i];
						%>
							<li class="j-food-cate <%=(i===0?'active':'')%>">
								<a href="javascript:;" class="type" data-anchor="<%=i%>" title="<%=r.name%>(<%=r.num%>)">
									<span class="name"><%=r.name%>(<%=r.num%>)</span>
								</a>
							</li>
						<%}%>
						</ul>
					</div>
					<!-- foodtype-nav -->
					<div class="foodtype-nav clearfix j-foodtype-nav hidden">
						<i class="icon i-tagtop"></i>
						<ul>
						<%for (var i=0; i<food.length; i++) {
							var r = food[i];
						%>
							<li class="j-food-cate <%=(i===0?'active':'')%>">
								<a href="javascript:;" class="type" data-anchor="<%=i%>" title="<%=r.name%>(<%=r.num%>)">
									<span class="name"><%=r.name%>(<%=r.num%>)</span>
								</a>
							</li>
						<%}%>
						</ul>
					</div>
					<!-- food-nav -->
					<div class="food-nav j-food-nav">
						<!-- title-blank -->
					    <div class="title-blank ct-deepgrey j-title-blank hidden">
					        <div class="actions clearfix fr">
					            <a href="javascript:;" class="classic">美食分类<i class="icon i-triangle-dn"></i></a>
								<div class="fr clearfix hidden">
									<div class="fl search-label">搜索菜品：</div>
									<div class="fl search-food">
										<input type="text" placeholder="搜索菜品..." class="search-input sprite j-search-input" />
									</div>
								</div>
					        </div>
					        <span class="tag-na"></span>
					    </div>
					    <!-- catgory -->
					    <%for (var i = 0; i < food.length; i++) { var r = food[i];%>
					    <div class="category">
					    	<%if (i === 0) {%>
					        <h3 class="title title-0 ct-deepgrey" title="<%=r.name%>">
					            <div class="actions clearfix fr">
					                <a href="javascript:;" data-href="javascript:;" class="classic hidden">美食分类<i class="icon i-triangle-dn"></i></a>
					            </div>
					            <span class="tag-na"><%=r.name%></span>
					        </h3>
					        <%} else {%>
					        <h3 class="title title-1 ct-deepgrey" title="<%=r.name%>">
					            <span class="tag-na"><%=r.name%></span>
					        </h3>
					        <%}%>
					        <div class="text-food-cont">
					        <%for (var j = 0; j < r.food.length; j++) { var rr = r.food[j];%>
					            <div class="text-food clearfix">
					                <div class="fl description">
					                    <div class="na nodesc" title="<%=rr.name%>"><%=rr.name%></div>
					                </div>
					                <div class="fr fleft nofleft"></div>
					                <div class="fr sold">
					                    <div class="zan-rank">
					                        <i class="icon i-zan"></i>
					                        <span class="cc-oriange">(<%=rr.like%>)</span>
					                    </div>
					                    <div class="count ct-middlegrey">
					                        <span>月售<%=rr.ordernum%>份</span>
					                    </div>
					                </div>
					                <div class="fr add">
					                    <a href="javascript:;" class="add-cart j-add-cart"  id="<%=rr.id%>"><i class="icon i-addcart"></i></a>
					                </div>
					                <div class="fr unit-price">
					                    <div class="only">¥<%=rr.price%>/份</div>
					                </div>
					                <span id="<%=rr.id%>-cart-num" class="text-food-cart-num fr" style="display: none;">0</span>
					            </div>
					        <%}%>
					        </div>
					    </div>
					    <%}%>
					</div>
				</div>

				<div class="widgets fr j-widgets">
					<div class="widget broadcaster j-broadcaster">
						<div class="title">
							<h3>订餐必读&amp;商家公告</h3>
						</div>
						<div class="content ct-deepgrey">
							<%-restinfo.broad_content%>
						</div>
					</div>
					<div class="widget discount">
					    <p class="delivery-min-fee">
					        <i class="icon i-zero"></i>
					        <span class="discount-desc">起送价</span>
					    </p>
					    <p class="delivery-fee">
					        <i class="icon i-free"></i>
					        <span class="discount-desc">配送费</span>
					    </p>
					    <p><i class="icon i-pay"></i>
					        <span class="discount-desc">该餐厅支持在线支付</span>
					    </p>
					    <p><i class="icon i-first"></i>
					        <span class="discount-desc">美团外卖新用户下首单，立减 5元</span>
					    </p>
					    <p><i class="icon i-minus"></i>
					        <span class="discount-desc">满5元减5元；</span>
					    </p>
					    <p>
					        <i class="icon i-free-gift"></i>
					        <span class="discount-desc">
					            下单即赠500ml饮料
					        </span>
					    </p>
					    <p>
					    </p>
					    <p><i class="icon i-reimbursement"></i>
					        <span class="discount-desc">该餐厅支持超时赔付活动，超60分钟9折。如果遇到雨雪天气，不进行超时赔付。。预订订单不参与超时赔付。</span>
					    </p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<!-- page-footer -->
		<% include footer.ejs %>
	</div>

	<script type="text/template" id="search-item-template">
		<li class="j-search-item" data-id="{{id}}" data-name="{{name}}" data-price="{{price}}">{{name}} ￥{{price}}</li>
	</script>

	<script type="text/javascript">
		seajs.use('main');
		seajs.use('apps/restaurant/restaurant');
	</script>
</body>
</html>
