<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title><%=title%></title>
	<link rel="icon" href="/static/img/favcoin.ico" size="16x16 32x32">
	<link rel="stylesheet" href="/static/css/global.css">
	<link rel="stylesheet" href="/static/css/preview.css">
	<script type="text/javascript" charset="utf-8" src="/static/js/libs/seajs/sea.js"></script>
	<script type="text/javascript" charset="utf-8" src="/static/js/sea_config.js"></script>
</head>

<body>
	<% include ../rside.ejs %>
	<div class="wrapper">
		<div id="top-tips" class="top-tips" style="display: none;">
			<a class="j-top-tips-close top-tips-close" href="javascript:;"><i class="icon i-top-tips-close"></i></a>
			<div class="j-top-tips-content top-tips-content" data-id=""></div>
		</div>
		<% include ../header.ejs %>
		<div class="page-wrap">
			<div class="inner-wrap">
				<div class="breadcrumb">
					<a class="ca-brown" href="/restaurant/<%=token%>"><%=restinfo.name%></a><i>&gt;</i>
					<span>详单</span>
				</div>
				<textarea class="j-cart-data" style="display: none;"><%=cart%></textarea>
				<div class="order-confirm clearfix j-order-confirm">
					<div class="fl address">
						<table class="standard-table dishes-table">
							<thead>
								<tr class="bot-border">
									<th width="180">
										<div class="th-inner align-left">菜品</div>
									</th>
									<th width="120">
										<div class="th-inner align-left">点餐人</div>
									</th>
									<th width="60">
										<div class="th-inner">份数</div>
									</th>
									<th width="60">
										<div class="th-inner align-right">金额</div>
									</th>
								</tr>
							</thead>
							<tbody>
								<%for (var i=0; i<data.length; i++) {
									var r = data[i];
								%>
									<tr>
										<td>
											<div class="td-inner align-left" title="<%=r.name%>"><%=r.name%></div>
										</td>
										<td>
											<div class="td-inner align-left <%=(r.orderp.length>1?'td-wrap':'')%>"><%=r.orderp.join('、')%></div>
										</td>
										<td>
											<div class="td-inner align-center"><%=r.cart%></div>
										</td>
										<td>
											<div class="td-inner align-right">¥<%=r.price%><%=(r.cart>1?'*'+r.cart:'')%></div>
										</td>
									</tr>
								<%}%>
								<tr class="total top-border">
									<td colspan="4" class="clearfix">
										<div class="td-inner">
											<span class="fl"><%=cate_cart%></span>
											<span class="t-number fl j-t-number">合计 0 元</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="dishes">
						<div class="dishes-rap">
							<h3>订餐必读&amp;商家公告</h3>
						</div>
						<div class="content ct-deepgrey">
							<%-restinfo.broad_content%>
						</div>
						<div class="pay-area">
							<%if(is_admin){%>
							<a class="s-btn fr" id="confirmOrder" style="display: none;">
								<span class="s-btn">确认订单</span>
							</a>
							<a class="confirm-btn-disabled fr" id="confirmOrder2" style="display: none;">
								<span class="s-btns">确认订单</span>
							</a>
							<%}%>
							<div class="tips">您需支付&nbsp;
								<span class="price cc-oriange">¥
									<span id="totalPrice">0</span>
								</span>
								<span id="endfix">，饭到当面付款</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<% include ../footer.ejs %>
	</div>

	<script type="text/javascript">
		seajs.use('main');
		seajs.use('apps/order/preview');
	</script>
</body>
</html>
